[MASTER]
# Add your project root to Python path for Pylint
init-hook=import sys; sys.path.append('/home/pi/Oradio3/Python')

[MESSAGES CONTROL]
# Disable import order warnings for module test programs
# Warnings caused by sys.path.append('/home/pi/Oradio3/Python') in the code
# Which is required as test programs runs in a subdirectory
disable=C0411, C0413

