<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- From OpenNDS splash page -->
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">

		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/pure.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />

		<title>Oradio</title>
	</head>
	<body>
		{% include "menu.html" %}

		<div class="oradio-container">

			<div class="pure-controls">
				<p id="active" class="hide">
					<!-- Will be filled by Javascript submitCredentials() -->
				</p>
			</div>

			<!--TODO: Hier de naam tonen worden die via instellingen ingesteld is -->
			<h3>Welkom op de Oradio pagina!</h3>
			<p>Hier heeft u de volgende mogelijkheden:</p>
			<ul>
				<li>De Oradio <a href="/controls">op afstand bedienen</a></li>
				<li>De 1-2-3 knoppen <a href="/playlists">instellen welke speellijst afgespeeld wordt</a></li>
			</ul>

			<p>Mocht u vragen hebben, neem dan aub <a href="https://stichtingoradio.nl" target="_blank">contact</a> op.</p>

		</div>

	</body>

</html>