[Unit]
Description=Backlighting Control for Oradio
After=network.target

[Service]
# Using specifiers: https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
# script path will be replaced by install script ../backlighting.sh
ExecStart=/usr/bin/python3 /home/pi/Oradio3/Oradio3/backlighting.py
WorkingDirectory=/home/pi/Oradio3/Oradio3
User=%u
Group=%g
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
