[Unit]
Description=Backlighting Control for Oradio
After=network.target

[Service]
# Using specifiers: https://www.freedesktop.org/software/systemd/man/latest/systemd.unit.html#Specifiers
# script path will be replaced by install script ../backlighting.sh
ExecStart=/usr/bin/python3 SCRIPT_PATH/backlighting.py
WorkingDirectory=SCRIPT_PATH
User=%u
Group=%g
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
