[Unit]
Description=Autostart Oradio
After=multi-user.target

[Service]
# Placeholders will be modified by ../autostart.sh script
User=PLACEHOLDER_USER
Group=PLACEHOLDER_GROUP
ExecStart=/home/PLACEHOLDER_USER/.venv/bin/python3 PLACEHOLDER_PATH/oradio_control.py &
WorkingDirectory=PLACEHOLDER_PATH
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
