<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="autofocus" content="false">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />
		<link rel="stylesheet" href="../static/css/buttons.css" />

		<script src="../static/js/oradio3.js"></script>
		<script src="../static/js/buttons.js"></script>

		<title>Oradio speellijsten</title>
	</head>
	<body>
		<script>
			// Convert template variables to javascript
			var playlists = {{ playlists|tojson }};
			const directories = {{ directories|tojson }};
		</script>

		<!-- Include menu buttons -->
		{% include "menu.html" %}

		<div class="container">

			<!-- Show Oradio logo -->
			<img src="../static/logo.png" class="logo" />

			<!-- Manage presets title bar -->
			<h1 id="presets">Speellijst aan knop koppelen</h1>

			<!-- Link playlists to presets -->
			{% for preset in presets %}
				<div class="presets-grid">
					<div class="preset-label">
						Voorkeur {{ loop.index }}:
					</div>
					<div class="custom-select">
						<input type="text" id="{{ preset }}" name="{{ preset }}" value="{{ presets[preset] }}" readonly placeholder="-- Kies een speellijst --" />
						<span class="custom-icon">&#x25BC;</span> <!-- ▼ icon -->
						<div class="options"></div>
					</div>
				</div>
			{% endfor %}

			<!-- Show notifcation, if any -->
			<div id="presets_notification" class="notification">
				<!-- Will be filled by Javascript -->
			</div>

			<!-- Show playlist songs title bar -->
			<h1 id="playlists">Liedjes van speellijst bekijken</h1>

			<!-- Select playlist -->
			<div class="playlists_grid">
				<div class="custom-select">
					<input type="text" id="playlist" name="playlist" readonly placeholder="-- Kies een speellijst --" />
					<span class="custom-icon">&#x25BC;</span> <!-- ▼ icon -->
					<div id="options" class="options"></div>
				</div>
			</div>

			<!-- Show notifcation, if any -->
			<div id="playlist_notification" class="notification">
				<!-- Will be filled by Javascript -->
			</div>

			<!-- Show songs in a playlist -->
			<div id="playlist-songs" class="file-list">
				<ul class="songs">
				</ul>
			</div>

		</div>

	</body>
</html>
