<!-- menu.html -->

<style>
/* Waiting indicator centered on screen */
.waiting {
	display: none;						/* On load, remove waiting indicator image center screen */
	position: fixed;					/* Fixed on screen, also when scrolling */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	/* Exactly centered */
	z-index: 1000;						/* On top of everything else */
}

/* Menu styling */
nav {
	display: flex;
	background-color: var(--menu-background);
	border-top: 1px solid var(--menu-border);
	width: 100%;		/* Support smaller screens */
	max-width: 440px;	/* Limit for larger screens */
	position: fixed;	/* Stick the menu relative to the viewport */
	bottom: 10px;		/* 10px above the bottom to put it above the Apple swipe bar */
	z-index: 100;		/* Keep menu on top of other content */
}

nav a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: var(--menu-font); font-weight: normal;
	padding: 5px 0 5px 0;
	margin: 0;
}
nav a:hover {
	background-color: var(--menu-hover);
}
/* Hide images when the class is applied */
nav.hide-images img,
nav.hide-images .line-break {
    display: none;
}
</style>

<script>
// Show waiting indicator
function show_waiting() {
	document.getElementById('waiting').style.display = "block";
}

// Hide waiting indicator
function hide_waiting() {
	document.getElementById('waiting').style.display = "none";
}

// Make clicking any menu link trigger show_waiting
document.querySelectorAll('nav a').forEach(link => {
	link.addEventListener('click', show_waiting);
});
</script>

<!-- Waiting indicator -->
<img id="waiting" src="../static/waiting.gif" class="waiting" />

<!-- Menu bar -->
<nav>
    <a href="/network">
        <img src="../static/wifi.png" />
        <span class="line-break"><br></span>
        Netwerk
    </a>
    <a href="/buttons">
        <img src="../static/buttons.png" />
        <span class="line-break"><br></span>
        Knoppen
    </a>
    <a href="/playlists">
        <img src="../static/playlists.png" />
        <span class="line-break"><br></span>
        Lijsten
    </a>
    <a href="/status">
        <img src="../static/status.png" />
        <span class="line-break"><br></span>
        Status
    </a>
</nav>
