<!-- menu.html -->
<style>
/* Menu bar styling */
nav {
	display: flex;
	background-color: var(--oradio-list);
	border-top: 1px solid var(--oradio-border);
	position: fixed;
	width: 440px;
	bottom: 0;
}

nav a {
	flex: 1;
	height: 50px;
	text-align: center;
	padding: 5px 0 5px 0;
	margin: 0;
}

nav a:hover {
	background: var(--oradio-border);
}

.waiting {
	display: none;	/* On load, remove waiting indicator image center screen */
	position: fixed;
	margin: auto;
}
</style>

<!-- Waiting indicator -->
<img id="waiting", src="../static/waiting.gif" class="waiting" />

<!-- Menu bar -->
<nav>
	<a href="/captiveportal"><img src="../static/wifi.png" onclick="show_waiting()" /></a>
	<a href="/playlists"><img src="../static/playlists.png" /></a>
	<a href="/status"><img src="../static/status.png" /></a>
	<!-- Add other menu items here if needed -->
</nav>

<script>
// Dispaly waiting indicatot image center screen
function show_waiting()
{
	document.getElementById('waiting').style.display = "block";
};
</script>
