<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- From OpenNDS splash page -->
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">

		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />
		<link rel="stylesheet" href="../static/css/network.css" />

		<script src="../static/js/oradio3.js"></script>
		<script src="../static/js/network.js"></script>

		<title>Oradio wifi instellen</title>

		<script>
			// Convert template variable to javascript
			const oldssid = {{ oldssid|tojson }};
			const spotify = {{ spotify|tojson }};
		</script>
	</head>
	<body>

		<!-- Include menu buttons -->
		{% include "menu.html" %}

		<div class="container">

			<!-- Show Oradio logo -->
			<img src="../static/logo.png" class="logo" />

			<!-- Provide network credentials to connect to -->
			<form onsubmit="submitCredentials(event)">

				<!-- Network title bar -->
				<h1 >Verbind Oradio met WiFi-netwerk</h1>

				<div id="notification_oldssid" class="notification">
					<!-- Will be filled by Javascript submitCredentials() -->
				</div>

				<!-- Network SSID -->
				<label for="SSIDs">Netwerk:</label>
				<div id="network" class="custom-select">
					<input type="text" id="SSIDs" name="SSIDs" readonly placeholder="-- Selecteer of typ uw WiFi-netwerk --" />
					<span class="custom-icon">&#x25BC;</span> <!-- ▼ icon -->
					<div id="options" class="options"></div>
				</div>

				<!-- Separator -->
				<div style="height: 30px;">&nbsp;</div>

				<!-- Password -->
				<div id="password" style="display: none">
					<label for="pswd">Wachtwoord:</label>
					<input id="pswd" class="pswd-input" type="password" placeholder="Voer WiFi-wachtwoord in" />
					<span class="password-toggle-icon oradio-eye"><i class="fa-regular fa-eye"></i></span>
				</div>
				<button id="submitCredentialsButton" type="submit" style="display: none">Met netwerk verbinden</button>

				<!-- Show notifcation, if any -->
				<div id="notification_network" class="notification">
					<!-- Will be filled by Javascript submitCredentials() -->
				</div>

			</form>

			<form onsubmit="submitSpotify(event)">

				<!-- Spotify title bar -->
				<h1 >Kies naam in Spotify app</h1>

				<!-- Spotify -->
				<input id="spotify" type="text" value="{{ spotify }}" placeholder="Voer Spotify naam van deze Oradio in" />
				<button id="submitSpotifyButton" type="submit">Spotify naam instellen</button>

				<!-- Show notifcation, if any -->
				<div id="notification_spotify" class="notification">
					<!-- Will be filled by Javascript submitSpotify() -->
				</div>

			</form>

		</div>
	</body>
</html>
