<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />
		<link rel="stylesheet" href="../static/css/playlists.css" />

		<title>Oradio speellijsten</title>
	</head>
	<body>
		{% include "menu.html" %}
		<div class="container">

			<!-- Show Oradio logo -->
			<img src="../static/logo.png" class="logo" />

			<!-- Set presets -->
			<form method="POST">
				<!-- identifier used by server: do not change or remove -->
				<input type="hidden" name="action" value="set_presets" />
				<h1 id="set_presets">Speellijst aan knop koppelen</h1>
				{% for item in presets %}
					<div class="preset-grid">
						<div class="preset-label">
							Voorkeur {{ loop.index }}:
						</div>
						<div>
							<select name="preset{{ loop.index }}" id="preset{{ loop.index }}" class="preset-select">
							{% set index = ["preset", loop.index]|join %}
							{% for folder in folders %}
								{% if presets[index] == folder %}
									<option selected value="{{ folder }}">{{ folder }}</option>
								{% else %}
									<option value="{{ folder }}">{{ folder }}</option>
								{% endif %}
							{% endfor %}
							</select>
						</div>
					</div>
				{% endfor %}
				<button type="submit">Instellen</button>
			</form>

			<!-- Show songs in a playlist -->
			<form method="POST">
				<!-- identifier used by server: do not change or remove -->
				<input type="hidden" name="action" value="show_songs" />
				<h1 id="show_songs">Liedjes van speellijst tonen</h1>
				<select name="playlist" id="playlist" onchange="this.form.submit()">
					<option selected disabled value="">-- Kies een speellijst --</option>
					{% for folder in folders %}
						{% if playlist == folder %}
							<option selected value="{{ folder }}">{{ folder }}</option>
						{% else %}
							<option value="{{ folder }}">{{ folder }}</option>
						{% endif %}
					{% endfor %}
				</select>
				<div id="playlist_notification" class="notification">
					<!-- Will be filled by Javascript submitCredentials() -->
				</div>
			</form>
			{% if playlist_songs %}
			<div class="file-list">
				<ul id="songs">
				{% for song in playlist_songs %}
					<li id="{{ song["file"] }}">{{ song["artist"] }} - {{ song["title"] }}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}

			<!-- Search songs by artist or title -->
			<form method="POST">
				<!-- identifier used by server: do not change or remove -->
				<input type="hidden" name="action" value="search_songs" />
				<h1 id="search_songs">Liedje zoeken</h1>
				{% if search %}
					<input name="search" type="text" required minlength="3" placeholder="Typ (deel van) naam van artiest of (deel van) titel" value="{{ search }}" />
				{% else %}
					<input name="search" type="text" required minlength="3" placeholder="Typ (deel van) naam van artiest of (deel van) titel" />
				{% endif %}
				<div id="search_notification" class="notification">
					<!-- Will be filled by Javascript submitCredentials() -->
				</div>
				<button type="submit">Zoeken</button>
			</form>
			{% if search_songs %}
			<div class="file-list">
				<ul id="songs">
				{% for song in search_songs %}
					<li id="{{ song["file"] }}">{{ song["artist"] }} - {{ song["title"] }}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}

		</div>
	</body>
	<script>
		// Show the element used to trigger a server action
		location.hash = "#" + "{{ anchor }}";

		// Get notification element
		const playlist_notification = document.getElementById('playlist_notification');
		const search_notification = document.getElementById('search_notification');

		// Clear old notifications
		playlist_notification.innerHTML = "";
		search_notification.innerHTML = "";

		// Notify if playlist and songs is empty
		var playlist = "{{ playlist }}"
		var playlist_songs = "{{ playlist_songs }}"
		if ((playlist.length > 0) && (playlist_songs == "[]"))
			playlist_notification.innerHTML = '<span class=\"warning\">Geen liedjes gevonden voor speellijst \'{{ playlist }}\'.</span>';

		// Notify if search and list is empty
		search = "{{ search }}"
		search_songs = "{{ search_songs }}"
		if ((search.length > 0) && (search_songs == "[]"))
			search_notification.innerHTML = '<span class=\"warning\">Geen liedjes gevonden met \'{{ search }}\' in de naam van de artiest of in de titel. Gebruik een andere zoekopdracht.</span>';

		// Catch user clicking a song
		if (ul = document.getElementById('songs'))
		{
			ul.addEventListener('click', function(e)
			{
				if (e.target.tagName === 'LI')
				{
					event.preventDefault();

					// Send song to server for playback
					submitSong(e.target.id)
				}
			});
		}

		// Function to submit the network and password
		async function submitSong(song)
		{
			// Send song to play to server
			try
			{
				const response = await fetch('/play_song', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ "song": song })
				});

				if (! response.ok)
				{
					const errorData = await response.json();
					if (playlist.length > 0)
						playlist_notification.textContent = "<p class=\"error\">Error: "+ errorData + "</p>";
					if (search.length > 0)
						search_notification.textContent = "<p class=\"error\">Error: "+ errorData + "</p>";
				}
			}
			catch (error)
			{
				if (playlist.length > 0)
					playlist_notification.innerHTML = "<p style=\"color: #ff0000;\">Er is een fout opgetreden bij het indienen van het te spelen liedje.</p>";
				if (search.length > 0)
					search_notification.innerHTML = "<p style=\"color: #ff0000;\">Er is een fout opgetreden bij het indienen van het te spelen liedje.</p>";
			}
		}
	</script>
</html>
