<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />
		<link rel="stylesheet" href="../static/css/status.css" />

		<title>Oradio status</title>
	</head>
	<body>
		{% include "menu.html" %}
		<div class="container">

			<!-- Show Oradio logo -->
			<img src="../static/logo.png" class="logo" />

			<h1 >Oradio informatie</h1>

			<table>
				<tr>
					<th>Parameter</th>
					<th>Waarde</th>
				</tr>
				<tr>
					<td>Oradio serienummer</td>
					<td>{{ serial }}</td>
				</tr>
				<tr>
					<td>Hardware serienummer</td>
					<td>{{ hw_serial }}</td>
				</tr>
				<tr>
					<td>Hardware versie</td>
					<td>{{ hw_version }}</td>
				</tr>
				<tr>
					<td>Software serienummer</td>
					<td>{{ sw_serial }}</td>
				</tr>
				<tr>
					<td>Software versie</td>
					<td>{{ sw_version }}</td>
				</tr>
			</table>

		</div>
	</body>
	<script>
	</script>
</html>