<!DOCTYPE html>
<!--
Design choices:
 - Fixed header (top) and navigation (bottom), dynamic page in between.
 - Navigation button images are dynamic: when page requires scrolling the images are hidden.
 - Separation between elements is responsibility of element, is relative to the element above.
 - Javascript depends on element grouping, id's and classes.
-->
<html lang="nl">
	<head>
		<meta charset="UTF-8">
		<meta name="autofocus" content="false">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- CSS -->
		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />

		<!-- JS -->
		<script src="../static/js/oradio3.js" defer></script>
		<script src="../static/js/network.js" defer></script>
		<script src="../static/js/buttons.js" defer></script>
		<script src="../static/js/playlists.js" defer></script>
		<script src="../static/js/status.js" defer></script>

		<!-- Template variables -->
		<script>
			// Network page
			const oldssid = {{ oldssid|tojson }};
			let spotify = {{ spotify|tojson }};
			// Buttons & playlists page
			const directories = {{ directories|tojson }};
			let playlists = {{ playlists|tojson }};
		</script>

		<title>Oradio3</title>
	</head>

	<body>
		<!-- Waiting indicator -->
		<img id="waiting" src="../static/waiting.gif" class="waiting" alt="Bezig met laden..." />

		<!-- Header -->
		<header role="banner" class="header">
			<img src="../static/logo.png" alt="Oradio logo">
			<img src="../static/stop.png" alt="Stop" class="shutdown-button">
		</header>

		<!-- Navigation -->
		<nav role="navigation">
			<button data-page="network">
				<span><img src="../static/wifi.png" alt="Netwerk" /><br></span>
				<div>Netwerk</div>
			</button>
			<button data-page="buttons">
				<span><img src="../static/buttons.png" alt="Knoppen" /><br></span>
				<div>Knoppen</div>
			</button>
			<button data-page="playlists">
				<span><img src="../static/playlists.png" alt="Speellijsten" /><br></span>
				<div>Lijsten</div>
			</button>
			<button data-page="status">
				<span><img src="../static/status.png" alt="Status" /><br></span>
				<div>Status</div>
			</button>
		</nav>

		<!-- Main content -->
		<main role="main">
			<!-- Network page -->
			<section id="network" class="page">
				<h1>Verbind Oradio met WiFi-netwerk</h1>
				<div id="notification_oldssid" class="notification persistent">
					<!-- Will be filled by Javascript -->
				</div>

				<!-- Network SSID -->
				<div class="network custom-select">
					<label for="ssid-input">Netwerk:</label>
					<input
						readonly
						type="text"
						id="ssid-input"
						name="ssid-input"
						placeholder="Selecteer uw WiFi-netwerk"
					/>
					<span class="custom-icon">&#x25BC;</span> <!-- ▼ icon -->
					<!-- Show network options -->
					<div class="scrollbox dropdown" role="listbox" data-populated="false">
						<!-- Will be filled by Javascript -->
					</div>
				</div>

				<!-- Password -->
				<div id="password-block" class="password">
					<label for="password">Wachtwoord:</label>
					<input
						type="password"
						id="password-input"
						placeholder="Voer WiFi-wachtwoord in"
					/>
					<span id="password-icon" class="custom-icon fa-regular fa-eye" />	<!-- 👁️ icon -->
				</div>

				<!-- Submit wifi credentials -->
				<button id="submitCredentialsButton" class="submit">Met netwerk verbinden</button>

				<!-- Show notifcation, if any -->
				<div id="notification_network" class="notification">
					<!-- Will be filled by Javascript -->
				</div>

				<!-- Spotify identifier -->
				<h1>Kies naam in Spotify app</h1>

				<input
					type="text"
					id="spotify"
					name="spotify"
					value="{{ spotify }}"
					placeholder="Voer Spotify naam van deze Oradio in"
				/>

				<!-- Submit Spotify name -->
				<button id="submitSpotifyButton" class="submit">Spotify naam instellen</button>

				<!-- Show notifcation, if any -->
				<div id="notification_spotify" class="notification">
					<!-- Will be filled by Javascript submitSpotify() -->
				</div>

			</section>	<!-- End of network page -->

			<!-- Buttons page -->
			<section id="buttons" class="page active">
				<h1>Speellijst aan knop koppelen</h1>

				<!-- Link playlists to presets -->
				{% for preset in presets %}
					<div class="presets-grid">
						<label for="{{ preset }}">Voorkeur {{ loop.index }}:</label>
						<div class="presets custom-select">
							<input
								readonly
								type="text"
								id="{{ preset }}"
								name="{{ preset }}"
								value="{{ presets[preset] }}"
								placeholder="Kies een speellijst"
							/>
							<span class="custom-icon">&#x25BC;</span> <!-- ▼ icon -->
							<!-- Show preset options -->
							<div class="scrollbox dropdown" role="listbox" data-populated="false">
								<!-- Will be filled by Javascript -->
							</div>
						</div>
					</div>
				{% endfor %}

				<!-- Show notifcation, if any -->
				<div id="notification_presets" class="notification">
					<!-- Will be filled by Javascript -->
				</div>

				<!-- Show playlist songs title bar -->
				<h1>Liedjes van speellijst bekijken</h1>

				<!-- Select playlist -->
				<div class="presets custom-select">
					<!-- No label -->
					<input
						readonly
						type="text"
						id="playlist"
						name="playlist"
						placeholder="Kies een speellijst"
					/>
					<span class="custom-icon">&#x25BC;</span> <!-- ▼ icon -->
					<!-- Show playlist options -->
					<div class="scrollbox dropdown" role="listbox" data-populated="false">
						<!-- Will be filled by Javascript -->
					</div>
				</div>

				<!-- Show notifcation, if any -->
				<div id="notification_playlist" class="notification">
					<!-- Will be filled by Javascript -->
				</div>

				<!-- Show playlist songs -->
				<div class="songs custom-select">
					<!-- No label -->
					<!-- No input -->
					<!-- No icon -->
					<div id="playlist-songs" class="scrollbox" role="listbox" data-populated="false">
						<!-- Will be filled by Javascript -->
					</div>
				</div>

			</section>

			<!-- Playlists page -->
			<section id="playlists" class="page">
				<h1>Speellijsten beheren</h1>

				<!-- Manage custom playlists -->
				<div class="playlists_grid">
					<div class="playlists custom-select">
						<!-- No label -->
						<input type="text" id="custom-input" name="custom-input" placeholder="Typ naam van speellijst">
						<!-- No icon -->
						<!-- Show custom playlist options -->
						<div class="scrollbox dropdown" role="listbox" data-populated="false">
							<!-- Will be filled by Javascript -->
						</div>
					</div>
					<button class="icon-button save-button-large" title="Bewaren"></button>
					<button class="icon-button delete-button-large" title="Verwijderen"></button>
				</div>

				<!-- Show notifcation, if any -->
				<div id="notification_custom" class="notification">
					<!-- Will be filled by Javascript -->
				</div>

				<!-- Show custom list songs -->
				<div class="songs custom-select">
					<!-- No label -->
					<!-- No input -->
					<!-- No icon -->
					<div id="custom-songs" class="scrollbox" role="listbox" data-populated="false">
						<!-- Will be filled by Javascript -->
					</div>
				</div>

				<!-- Search songs title bar -->
				<h1>Liedjes zoeken</h1>

				<!-- Search songs by artist or title -->
				<input type="text" id="search" name="search" placeholder="Typ (deel van) naam van artiest of titel" />
				<button id="submitSearchButton" class="submit">Zoeken</button>

				<!-- Show notifcation, if any -->
				<div id="notification_search" class="notification">
					<!-- Will be filled by Javascript -->
				</div>

				<!-- Show songs found -->
				<div class="songs custom-select">
					<!-- No label -->
					<!-- No input -->
					<!-- No icon -->
					<div id="search-songs" class="scrollbox" role="listbox" data-populated="false">
						<!-- Will be filled by Javascript -->
					</div>
				</div>

			</section>

			<!-- Status page -->
			<section id="status" class="page">
				<h1>Oradio informatie</h1>
				<table>
					<tr>
						<th class="col1">Parameter</th>
						<th class="col2">Waarde</th>
					</tr>
					<tr>
						<td class="col1">Oradio serienummer</td>
						<td class="col2">{{ serial }}</td>
					</tr>
					<tr>
						<td class="col1">Software versie</td>
						<td class="col2">{{ sw_version }}</td>
					</tr>
					<tr>
						<td class="col1">Software datum</td>
						<td class="col2">{{ sw_serial }}</td>
					</tr>
				</table>

			</section>

		</main>
	</body>
</html>
