<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="autofocus" content="false">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../static/css/fontawesome.min.css" />
		<link rel="stylesheet" href="../static/css/regular.min.css" />
		<link rel="stylesheet" href="../static/css/oradio3.css" />
		<link rel="stylesheet" href="../static/css/status.css" />

		<script src="../static/js/oradio3.js"></script>
		<script src="../static/js/status.js"></script>

		<title>Oradio status</title>
	</head>
	<body>

		<!-- Include menu buttons -->
		{% include "menu.html" %}

		<div class="container">

			<!-- Show header -->
			<div class="header">
				<img src="../static/logo.png">
				<img src="../static/stop.png" onclick="closeWebInterface()">
			</div>

			<h1 >Oradio informatie</h1>

			<table>
				<tr>
					<th class="col1">Parameter</th>
					<th class="col2">Waarde</th>
				</tr>
				<tr>
					<td class="col1">Oradio serienummer</td>
					<td class="col2">{{ serial }}</td>
				</tr>
				<tr>
					<td class="col1">Software versie</td>
					<td class="col2">{{ sw_version }}</td>
				</tr>
				<tr>
					<td class="col1">Software datum</td>
					<td class="col2">{{ sw_serial }}</td>
				</tr>
			</table>

		</div>
	</body>
</html>