# Placeholders will be modified by ../oradio_install.sh script

[Unit]
Description=Backlighting Control for Oradio
After=network.target

[Service]
User=PLACEHOLDER_USER
Group=PLACEHOLDER_GROUP
WorkingDirectory=PLACEHOLDER_PYTHON_PATH
ExecStart=/usr/bin/python3 PLACEHOLDER_PYTHON_PATH/backlighting.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
