[Unit]
Description=Music Player Daemon (MPD)
After=pipewire.service
Requires=pipewire.service

[Service]
# Enable readiness notification
Type=notify

# Start mpd service and send readiness notification
ExecStart=/usr/bin/mpd --systemd /home/pi/.config/mpd/mpd.conf

# Run after systemd receives READY notification
ExecStartPost=/usr/bin/mpc clear

# Restart on fail
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
