[Unit]
Description=Music Player Daemon
Documentation=man:mpd(1) man:mpd.conf(5)
Documentation=file:///usr/share/doc/mpd/html/user.html
After=sound.target

[Service]
Type=simple

# Redirect stdout (fd 1) and stderr (fd 2) to the log file.
# Note this takes the output *out* of the journal: journalctl -u mpd will be empty.
StandardOutput=append:PLACEHOLDER_LOGFILE_MPD
StandardError=append:PLACEHOLDER_LOGFILE_MPD

# Set logfile ownership. '+' means run this command as root.
ExecStartPre=-+/usr/bin/chown PLACEHOLDER_USER:PLACEHOLDER_GROUP PLACEHOLDER_LOGFILE_MPD

EnvironmentFile=/etc/default/mpd
ExecStart=/usr/bin/mpd --no-daemon /etc/mpd.conf

# allow MPD to use real-time priority 40
LimitRTPRIO=40
LimitRTTIME=infinity

# for io_uring
LimitMEMLOCK=64M

# disallow writing to /usr, /bin, /sbin, ...
ProtectSystem=yes

# more paranoid security settings
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=yes

[Install]
WantedBy=multi-user.target
Also=mpd.socket
