# https://manpages.debian.org/testing/systemd/systemd.service.5.en.html
# Placeholders will be modified by ../oradio_install.sh script

[Unit]
Description=Early task to delete monitor /media/usb_ready
# Ensure this runs before udev is launched:
Before=systemd-udevd.service
DefaultDependencies=no
# Ensure the /media directory is mounted and available:
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/bin/rm -f /media/usb_ready
RemainAfterExit=yes

[Install]
# Runs early in the boot process
WantedBy=sysinit.target
