# https://manpages.debian.org/testing/systemd/systemd.service.5.en.html
# Placeholders will be modified by ../oradio_install.sh script

[Unit]
Description=Configure USB low idle power
# Ensure this runs before oradio service is launched
Before=oradio.service

[Service]
Type=oneshot

# Shows active after boot, allowing to distinguish 'healthy' from 'never run'
RemainAfterExit=yes

# allow USB to suspend when idle
ExecStart=/usr/bin/bash -c 'p=/sys/bus/usb/devices/1-1/power/control; [ -w "$p" ] && echo auto > "$p" || echo "usb_low_idle_power: $p not found" >&2'
# Temporarily disable allowing USB to suspend. See GitHub issue #485 for details
ExecStart=/usr/bin/bash -c 'p=/sys/bus/usb/devices/1-1/power/control; [ -w "$p" ] && echo on > "$p" || echo "usb_low_idle_power: $p not found" >&2'

[Install]
WantedBy=oradio.service
