# Placeholders will be modified by ../oradio_install.sh script

[Unit]
Description=Wait for user mpv.service
After=multi-user.target user@1000.service
Requires=user@1000.service
Before=autostart.service

[Service]
Type=oneshot
ExecStart=PLACEHOLDER_SHELL_SCRIPT/wait_for_mpv.sh
TimeoutSec=50

[Install]
WantedBy=multi-user.target

