[Unit]
Description=Generate HW Serial Number for Oradio
After=multi-user.target

[Service]
# Placeholders will be modified by ../hw_version.sh script
Type=oneshot
WorkingDirectory=PLACEHOLDER_PATH
ExecStart=/home/PLACEHOLDER_USER/.venv/bin/python3 PLACEHOLDER_PATH/hw_serial_number_gen.py

[Install]
WantedBy=multi-user.target
